.section-share{
    // padding-bottom: 20px;
    &.section-NoiBac{
        //height: 100px;
        background: rgba(96, 186, 175, 0.1);
        // border: 1px solid red;
            height: 500px;
        }

        
        .section-body {
            
    padding-bottom: 20px;

            .khung{

                .img-noibac{
                    //height: 100px;
                    padding: 0 29px;
                    cursor: pointer;
                    img{
                        margin: 15px 0;
                        width: 198px;
                        height: 198px;
                    }
                    .nensp1{
                        background: rgba(156, 73, 46, 0.1);
                        //border: 1px solid red;
                        height: 135px;
                        width: 198px;
                        margin-top: -15px;
                        padding-left: 20px;
                        .tensp{
                            // margin-top: 10px;
                            padding-top: 20px;
                            font-size: 15px;
                        }
                        .giasp{
                            padding-top: 10px;
                            font-weight: 550;
                            font-size: 15px;
                            // padding-bottom:;
                        }
                    }
                    
                }
            }
            
        }
    }